dist/
tmp/
app/**/*.js
app/**/*.js.map
node_modules/
bower_components/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/
e2e/*.js
e2e/*.map
.DS_Store/